@font-face {
    font-family: "Avenir";
    src: url('../fonts/AvenirLTStd-Roman.otf') format("truetype");
}

body {
	font-family: Avenir, verdana;
	color: black;
	background: rgb(255, 170, 193);
}

.navbar {
	background: rgb(130, 163, 255);
	font-size: 0.9em;
}

.loading {
	background: none;
	position: fixed;
	border-radius: 4px;
	left: 50%;
	top: 50%;
	margin: -40px 0 0 -50px;
	z-index: 2000;
	display: none;
}

.carousel-item.active {
	display: block;
}

.carouselText h1 {
	font-size: 4vw;
	font-weight: bold;
	color: white;
	text-shadow: 0px 0px 20px #000;
}

.desktop_version {
	display: inline-block;
}

.mobile_version {
	display: none;
}

@media (max-width: 575px) {
	.mobile_version {
		display: inline;
	}

	.desktop_version {
		display: none;
	}
}
